//----- Colors-----
$color-basic: white;
$color-primary: navy;
$color-secondary: lightblue;
$color-actionCall: darkgreen;
$color-alert: darkred;

// Color pallet suggestions: https://coolors.co/3d5a80-98c1d9-e0fbfc-ee6c4d-293241

//---- Border-----
$border-radius-medium: 1.5rem;
$border-radius-regular: 0.5rem;
$border-radius-light: 0.375rem;

//---- Font Size-----
$font-size-large: 1.8rem;
$font-size-medium: 1.5rem;
$font-size-regular: 1.2rem;
$font-size-small: 0.8rem;
